{# @note: Also called in forms.set_knockout_template #}
{% if not opts.layout_classes -%}
    {% do opts.update({'layout_classes': layout_classes}) -%}
{% endif -%}
{% if not opts.formset_form_class -%}
    {% do opts.update({'formset_form_class': ''}) -%}
{% endif -%}
<div class="formset-form-wrap {{ opts.formset_form_class }}">
    <card-default class="inline-formset-wrap">
        <card-header><h3 class="panel-title">{{ opts.inline_title }}</h3></card-header>
        <div class="panel-body">
            {{ form._renderer['body']() }}
        </div>
    </card-default>
</div>
