{% extends "base.htm" %}

{% block main %}

<p>{{ _('Already have an account? Then please <a href="%(login_url)s">sign in</a>.', login_url=login_url) }}</p>

<card-default>
    <card-header>
        <card-title>{{ request.resolver_match.view_title }}</card-title>
    </card-header>
    <card-body>
        <form role="form" class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}">
            {{ render_form(request, 'body', form) }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{{ _("Sign Up") }} &raquo;</button>
        </form>
    </card-body>
</card-default>

{% endblock main %}
