<!DOCTYPE html>
<html lang="en">
<head>
{% include 'base_head.htm' -%}
{% block head -%}
{% endblock head -%}
</head>
<body>
    {% block body -%}
    <header class="col-md-2">
        <nav class="navbar navbar-default nav-main" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav nav-pills nav-stacked nav-main auto-highlight">
                    {% block mainmenu -%}
                    <li>
                        <a href="/{# url('home') #}">
                            <span class="glyphicon glyphicon-home"></span> {{ _('Home') }}
                        </a>
                    </li>
                    {% endblock mainmenu -%}
                </ul>
            </div>
        </nav>
    </header>
    <main class="col-md-10">
        <div class="container">
            {% if messages -%}
                {% include 'base_messages.htm' -%}
            {% endif -%}
            {% block main -%}
            {% endblock main -%}
        </div>
    </main>
    {% endblock body -%}
	{% include 'base_bottom_scripts.htm' -%}
    {% block bottom_scripts -%}
    {% endblock bottom_scripts -%}
</body>
</html>
