{% macro bs_breadcrumbs(title=None, navs=None) -%}
{% if navs is none -%}
    {% set navs = {} -%}
{% endif -%}
<ol class="breadcrumb">
    {% if title is not none -%}
    <li class="bold pr-2">{{ title }}:</li>
    {% endif -%}
    {% for nav in navs -%}
    {% do tpl.add_css_classes_to_dict(nav.atts, 'breadcrumb-item') -%}
    <li {{ tpl.json_flatatt(nav.atts) }}>
        {% if tpl.has_css_classes_in_dict(nav.atts, 'active') -%}
        {{ nav.text }}
        {% else -%}
        <a href="{{ nav.url }}">{{ nav.text }}</a>
        {% endif -%}
    </li>
    {% endfor -%}
</ol>
{% endmacro -%}
