{% macro bs_breadcrumbs(title=None, navs=None) -%}
{% if navs is none -%}
    {% set navs = {} -%}
{% endif -%}
<ol class="breadcrumb">
    {% if title is not none -%}
    <li class="bold">{{ title }}:</li>
    {% endif -%}
    {% for nav in navs -%}
    <li {{ flatatt(nav.atts) }}>
        {% if 'active' not in nav.atts.class -%}<a href="{{ nav.url }}">{% endif -%}
        {{ nav.text }}
        {% if 'active' not in nav.atts.class -%}</a>{% endif -%}
    </li>
    {% endfor -%}
</ol>
{% endmacro -%}
