{# http://anvoz.github.io/bootstrap-tldr/ #}
{% macro bs_collapse(accordion_id, header=None) -%}
<div class="panel-group" id="{{ accordion_id }}">
    <card-primary>
        <card-header>
            <card-title>
                <button class="btn btn-large btn-info accordion-toggle" data-toggle="collapse" data-parent="#{{ accordion_id }}" href="#collapse-{{ accordion_id }}">
                    <span class="iconui iconui-plus"></span>
                </button>
                {% if header is not none -%}
                    {{ header }}
                {% else -%}
                    {{ caller('header') }}
                {% endif -%}
            </card-title>
        </card-header>
        <div style="" aria-expanded="true" class="panel-collapse collapse out" id="collapse-{{ accordion_id }}">
            <card-body>
            {% if header is not none -%}
                {{ caller() }}
            {% else -%}
                {{ caller('body') }}
            {% endif -%}
            </card-body>
        </div>
    </card-primary>
</div>
{% endmacro -%}