{# https://gist.github.com/bearz/7394681 #}
{% macro bs_form(form, action, opts, method='post') -%}
{% if not opts -%}
    {% set opts = {} -%}
{% endif -%}
{% if not opts.layout_classes -%}
    {% do opts.update({'layout_classes': layout_classes}) -%}
{% endif -%}
{% if not opts.class -%}
    {% do opts.update({'class': ''}) -%}
{% endif -%}
{% do ioc_form_renderer(request, 'standalone', {
    'form': form,
    'action': action,
    'opts': opts,
}) -%}
{{ form._renderer['standalone'].__str__() }}
{% endmacro -%}
{% if _render_ -%}
{{ bs_form(form, action, opts) }}
{% endif -%}
