{% macro bs_list(view, object_list=None, is_paginated=False, page_obj=None) -%}
{% from 'bs_breadcrumbs.htm' import bs_breadcrumbs with context -%}
{% from 'bs_filters.htm' import bs_filters with context -%}
{% from 'bs_pagination.htm' import bs_pagination with context -%}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ view.get_heading() }}</h3>
    </div>
    <div class="panel-body">
        {% for field in view.allowed_filter_fields -%}
            {{ bs_breadcrumbs(*view.get_filter_args(field)) }}
        {% endfor -%}

        {% if object_list -%}
            <table {{ tpl.json_flatatt(view.get_table_attrs()) }}>
            {% for obj in object_list -%}
                {% set row_loop_index = loop.index0 -%}
                {% if loop.index0 == 0 -%}
                <tr>
                {% for column in view.grid_fields -%}
                    <th>
                    {% if isinstance(column, list) -%}
                        {% for field in column -%}
                            <div>{{ view.get_sort_order_link(field) }}</div>
                        {% endfor -%}
                    {% else -%}
                        {{ view.get_sort_order_link(column) }}
                    {% endif -%}
                    </th>
                {% endfor -%}
                </tr>
                {% endif -%}
                <tr>
                {% for column in view.grid_fields -%}
                    <td {{ tpl.json_flatatt(view.get_cell_attrs(obj, column, row_loop_index, loop.index0)) }}>
                    {% if isinstance(column, list) -%}
                        {% for field in column -%}
                            <div>{{ view.get_display_value(obj, field) }}</div>
                        {% endfor -%}
                    {% else -%}
                        {{ view.get_display_value(obj, column) }}
                    {% endif -%}
                    </td>
                {% endfor -%}
                </tr>
            {% endfor -%}
            </table>
        {% else -%}
            <div class="jumbotron">
                <div class="default-padding">
                    {{ bs_filters(**view.get_no_match_kwargs()) }}
                </div>
            </div>
        {% endif -%}

        {% if object_list and is_paginated -%}
            {{ bs_pagination(cbv=view, page_obj=page_obj) }}
        {% endif -%}

    </div>
</div>

{% endmacro -%}
{% if _render_ -%}
    {{ bs_list(view=view, object_list=object_list, is_paginated=is_paginated, page_obj=page_obj) }}
{% endif -%}
