{# bs_modal('alert_modal', 'Message', [{'dismiss': 'modal', 'name': 'modal_close', 'text': 'Ok'}]) #}
{% macro bs_modal(id, title, buttons) -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body vscroll default-padding">
                {% if caller -%}
                    {{ caller('body') }}
                {% endif -%}
            </div>
            <div class="modal-footer">
                {% if caller -%}
                    {{ caller('buttons') }}
                {% endif -%}
                {% if not buttons -%}
                    {% set buttons = [{'dismiss': 'modal', 'name': 'modal_close', 'text': _('Close')}] -%}
                {% endif -%}
                {% for button in buttons -%}
                    <button type="button" class="btn btn-default" data-dismiss="{{ button.dismiss }}" name="{{ button.name }}">{{ button.text }}</button>
                {% endfor -%}
            </div>
        </div>
    </div>
</div>
{% endmacro -%}