{# http://anvoz.github.io/bootstrap-tldr/ #}
{# type can be: 'success', 'info', 'warning', 'danger' #}
{% macro bs_panel(type, heading=None, attrs=None) -%}
{% if attrs is none -%}
    {% set attrs = {'class': 'panel'} -%}
{% endif -%}
{% do tpl.add_css_classes_to_dict(attrs, 'panel-' + type) -%}
<div {{ flatatt(attrs) }}>
    <div class="panel-heading">
    {% if heading is not none -%}
        {{ heading }}
    {% else -%}
        {{ caller('heading') }}
    {% endif -%}
    </div>
    <div class="panel-body">
    {% if heading is not none -%}
        {{ caller() }}
    {% else -%}
        {{ caller('body') }}
    {% endif -%}
    </div>
</div>
{% endmacro -%}