{% macro bs_pagination(kwargs, query={}, page_obj=None, viewname=None) -%}
{% if viewname is none %}
    {% set viewname = view_name %}
{% endif %}
<ul class="pagination">
    {% if page_obj.number - 1 > 1 %}
    <li>
        {% do query.update({'page' : 1}) %}
        <a href="{{ reverseq(viewname, kwargs=kwargs, query=query) }}">{{ _('First page') }}</a>
    </li>
    {% endif %}
    {% if page_obj.has_previous() %}
    <li>
        {% do query.update({'page' : page_obj.previous_page_number()}) %}
        <a href="{{ reverseq(viewname, kwargs=kwargs, query=query) }}">{{ _('Previous') }}</a>
    </li>
    {% endif %}
    <li class="active">
        <a href="#">{{ _('Page %(number)d of %(numpages)d', number=page_obj.number, numpages=page_obj.paginator.num_pages) }}</a>
    </li>
    {% if page_obj.has_next() %}
    <li>
        {% do query.update({'page' : page_obj.next_page_number()}) %}
        <a href="{{ reverseq(viewname, kwargs=kwargs, query=query) }}">{{ _('Next') }}</a>
    </li>
    {% endif %}
    {% if page_obj.number + 1 < page_obj.paginator.num_pages %}
    <li>
        {% do query.update({'page' : page_obj.paginator.num_pages}) %}
        <a href="{{ reverseq(viewname, kwargs=kwargs, query=query) }}">{{ _('Last page') }}</a>
    </li>
    {% endif %}
</ul>
{%- endmacro %}
