<div {{ tpl.json_flatatt(_render_.component_attrs)}}>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active accordion-toggle pointer" data-toggle="collapse" aria-expanded="true">{{ _render_.title }}</a></li>
    </ul>
    <card-default class="nav-card">
        <div class="{{ _render_.collapse_class }}" aria-expanded="true" style="">
            <card-body>
                <div class="row form-group">
                    <label class="control-label col-md-2">{{ _('From') }}</label>
                    <div class="field col-md-3">
                        {% set input -%}
                        <input {{ tpl.json_flatatt(_render_.from_input_attrs) }}>
                        {% endset -%}
                        {% if 'id_range_from' in _render_.errors -%}
                        <div class="has-error">
                            {{ input }}
                            <div class="alert alert-warning alert-dismissible">
                                <button class="close" data-dismiss="alert" type="button">x</button>
                                {{ ' / '.join(_render_.errors['id_range_from']) }}
                            </div>
                        </div>
                        {% else -%}
                            {{ input }}
                        {% endif -%}
                    </div>
                    <label class="control-label col-md-2">{{ _('To') }}</label>
                    <div class="field col-md-3">
                        {% set input -%}
                        <input {{ tpl.json_flatatt(_render_.to_input_attrs) }}>
                        {% endset -%}
                        {% if 'id_range_to' in _render_.errors -%}
                        <div class="has-error">
                            {{ input }}
                            <div class="alert alert-warning alert-dismissible">
                                <button class="close" data-dismiss="alert" type="button">x</button>
                                {{ ' / '.join(_render_.errors['id_range_to']) }}
                            </div>
                        </div>
                        {% else -%}
                            {{ input }}
                        {% endif -%}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="field col-md-10">
                        <div class="pull-right">
                            <a class="btn btn-small btn-default reset-url" href="{{ _render_.reset_url }}">{{ _('Remove selection') }}</a>
                            <a class="btn btn-small btn-primary apply-url" href="{{ _render_.apply_url }}">{{ _('Apply') }}</a>
                        </div>
                    </div>
                </div>
            </card-body>
        </div>
    </card-default>
</div>
