{% from 'ko_grid.htm' import ko_grid with context -%}
{% from 'ko_grid_body.htm' import ko_grid_body with context -%}
{% extends 'base.htm' -%}

{% block main -%}

{{
ko_grid(
    grid_options={
        'pageRoute': view.request.resolver_match.view_name,
        'pageRouteKwargs': view.kwargs,
    },
    dom_attrs={
        'data-template-options': {
            'templates': {
                'ko_grid_filter_choices': 'ko_grid_breadcrumb_filter_choices',
                'ko_grid_filter_popup': 'ko_grid_breadcrumb_filter_popup',
            }
        },
    }
)
}}

{% endblock main -%}

{% block bottom_scripts -%}
    {{
        ko_grid_body(
            include_ids=[
                'ko_grid_breadcrumb_filter_choices',
                'ko_grid_breadcrumb_filter_popup'
            ],
            exclude_ids=[
                'ko_grid_filter_choices',
                'ko_grid_filter_popup'
            ]
        )
    }}
    <script src="{{ static('djk/js/grid.js') }}" type="module"></script>
{% endblock bottom_scripts -%}
