{% extends 'base.htm' %}
{% from 'bs_panel.htm' import bs_panel with context %}
{% from 'bs_breadcrumbs.htm' import bs_breadcrumbs with context %}

{% block main %}

{% call bs_panel(
    type='primary',
    heading=get_meta(view.__class__.model, 'verbose_name_plural'),
) %}

{% for field in view.allowed_filter_fields %}
    {{ bs_breadcrumbs(filter_title[field], filter_navs[field]) }}
{% endfor %}

{% if object_list %}
    <table class="table table-collapse display-block-condition">
    {% for obj in object_list %}
        {% set row_class = cycler('info', 'success', 'active') %}
        {% if loop.index0 == 0 %}
        <tr>
        {% for field in view.grid_fields %}
            <th>
            {% if field in view.allowed_sort_orders %}
                {{ cbv.get_sort_order_link(field) }}
            {% else %}
                {{ field }}
            {% endif %}
            </th>
        {% endfor %}
        </tr>
        <tr>
        {% for field in view.grid_fields %}
            <td class="{{ row_class.__next__() }}" data-caption="{{ get_verbose_name(obj, field) }}">
                {{ view.get_display_value(obj, field) }}
            </td>
        {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endif %}

{% endcall %}

{% endblock main %}

