            {% if caller -%}
                {{ caller({'formset_begin': formset, 'html': html}) }}
            {% endif -%}
            <div class="formset default-padding">
                <div class="management-form">
                    {{ formset.management_form }}
                </div>
                {% if formset.total_error_count() -%}
                    <div class="alert alert-warning">
                    {% for error in formset.errors -%}
                        <div>{{ error }}</div>
                    {% endfor -%}
                    </div>
                {% endif -%}
                {% if action == '' -%}
                    <table class="{{ html.table_classes }}">
                        <colgroup>
                            <col class="{{ html.layout_classes.label }}">
                            <col class="{{ html.layout_classes.field }}">
                        </colgroup>
                {% endif -%}
                {% for form in formset -%}
                    {% if caller -%}
                        {{ caller({'inline_form_begin': form, 'html': html}) }}
                    {% endif -%}
                    {% set formset_index = loop.index0 -%}
                    {% if formset.can_delete -%}
                        {% if formset_index < formset.min_num -%}
                            {% do html.update({'formset_form_class': 'form-required'}) -%}
                        {% else -%}
                            {% do html.update({'formset_form_class': 'form-optional'}) -%}
                        {% endif -%}
                    {% endif -%}
                    {% include 'bs_formset_form.htm' %}
                    {# form.Meta.renderer['inline'].__str__() #}
                    {% if caller -%}
                        {{ caller({'inline_form_end': form, 'html': html}) }}
                    {% endif -%}
                {% endfor -%}
                {% if action == '' -%}
                    </table>
                {% endif -%}
                {% if formset.knockout_template -%}
                <div data-bind="foreach: {data: forms, afterRender: afterFormRendered}">
                    <div data-bind="anonymous_template: {'base-selector': '.formsets', 'template-index': {{ loop.index0 }}}"></div>
                </div>
                <button class="btn btn-info btn-sm" data-bind="click: addForm, visible: hasMoreForms">
                    {{ _('Add "%(verbose_name)s"', verbose_name=html.inline_title) }}
                </button>
                {% endif -%}
            </div>
            {% if caller -%}
                {{ caller({'formset_end': formset, 'html': html}) }}
            {% endif -%}
