@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/static/fonts/glyphicons-halflings-regular.eot');
	src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('/static/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	padding: 1em;
}

.label {
	margin: 0 0.1em;
}

.hidden {
	display: none;
}

.relative {
	position: relative;
}

.preformatted {
	white-space: pre-wrap;
}

.bold {
	font-weight: 800 !important;
}

.condensed {
	padding: 0.2em;
}

.well-condensed {
	margin: 5px;
}

.href-target:target {
	border: 2px solid Aquamarine;
	background-color: Aquamarine;
}

.nav-main {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vscroll,
.input-as-select,
.bootstrap-dialog-message {
	max-height: 500px;
	overflow-y: auto;
}

.input-as-select {
	padding: 0 10px 0 10px;
	border-radius: 2px;
	border: 1px solid lightgray;
	/* Uncomment next line to display input-as-select inputs */
	/* padding: 0 5px 0 20px; */
}

.input-as-select input[type="checkbox"],
.input-as-select input[type="radio"] {
	display: none;
}

.input-as-select label {
	display: block;
	padding: 3px;
	border-radius: 2px;
	border: 1px solid transparent;
}

.input-as-select label.selected {
	background-color: #dff0d8;
	border-radius: 2px;
	border: 1px solid lightgray;
}

.default-padding {
	padding: 0.5em;
}

.default-margin {
	margin: 0.5em;
}

.vmargin {
	margin: 0.5em 0;
}


.hmargin {
	margin: 0 0.5em;
}

table.table {
	table-layout: fixed;
	word-wrap: break-word;
}

.error-bg, .validation-error {
	color: white;
	background-color: red;
}

.error-fg, .bootstrap-dialog.type-danger .bootstrap-dialog-message {
	color: red;
}

.close {
	float: right;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0px 1px 0px #FFF;
	opacity: 0.2;
}

.close:focus, .close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
}

button.close {
	padding: 0px 0px 0px 5px;
	cursor: pointer;
	background: transparent none repeat scroll 0px 0px;
	border: 0px none;
}

.pointer {
	cursor: pointer;
}

.halflings, .halflings-before:before {
	color: Gray;
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
}

a.sort-asc:before {
	content: "\e093";
}

a.sort-desc:before {
	content: "\e094";
}

a.sort-inactive:before {
	content: "\e150";
}

form label {
	font-weight: normal;
}

form label.required {
	font-weight: 800;
}

form label.required:after {
	color: Red;
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
	content: "\e162";
}

form .form-optional,
form .form-empty {
	opacity: 0.8;
}

form .form-empty input[name$='-DELETE'] {
	color: red;
}

form .optional-input[type="checkbox"] {
	margin-right: 0.5em;
}

textarea.ko-template {
	display: none;
	visibility: hidden;
}

.display-block-condition .conditional-display {
	display: block;
	margin: 0.25em 0 0.25em 0;
}

.display-inline-condition .conditional-display {
	display: inline-block;
	margin: 0 0.25em 0 0.25em;
}

.transform-origin-0 {
	transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.link-preview-spinner {
	margin: auto;
	text-align: center;
}

.link-preview-spinner > img {
	width: 20px;
	height: 20px;
}

/* Fit textarea width to outer element width. */
.fit-width {
	width: 100%;
	box-sizing: border-box;
}

a[name="#"] {
	cursor: pointer;
}

.grid-glyph-cell {
	width: 2em;
}

/* Support for App.ko.Grid highlight mode 1 / 2 */
table > tbody > tr.grid-new-row.success > td,
table > tbody > tr.grid-new-row > td.success {
	background-color: #EDFFE6; /* original: dff0d8 */
}

/* Support for App.ko.Grid highlight mode 1 / 2 */
table > tbody > tr.grid-new-row.info > td,
table > tbody > tr.grid-new-row > td.info {
	background-color: #E0F5FF; /* original: d9edf7 */
}
