<card-default class="{{ opts.class }}">
    {% if opts.title is defined -%}
    <card-header>
        <card-title>{{ opts.title }}</card-title>
    </card-header>
    {% endif -%}
    <card-body>
        <div class="table-responsive">
            <table class="table table-bordered table-collapse">
                <colgroup>
                    <col class="{{ opts.layout_classes.label }}">
                    <col class="{{ opts.layout_classes.field }}">
                </colgroup>
                {% include 'render/display/form_raw.htm' with context -%}
            </table>
        </div>
    </card-body>
</card-default>
