<card-default class="{{ opts.class }}">
    {% if opts.title is defined -%}
    <card-header><h3 class="panel-title">{{ opts.title }}</h3></card-header>
    {% endif -%}
    <div class="panel-body">
        <table class="table table-bordered table-responsive">
            <colgroup>
                <col class="{{ opts.layout_classes.label }}">
                <col class="{{ opts.layout_classes.field }}">
            </colgroup>
            {% include 'render/display/form_raw.htm' with context -%}
        </table>
    </div>
</card-default>
