<card-body class="default-padding">
    <div class="table-responsive">
        <table class="{{ opts.table_classes }}">
            <colgroup>
                <col class="{{ opts.layout_classes.label }}">
                <col class="{{ opts.layout_classes.field }}">
            </colgroup>
        {% if caller -%}
            {{ caller({'related_form_begin': related_form, 'opts': opts}) }}
        {% endif -%}
        {{ related_form.djk_renderer['body']() }}
        {% if caller -%}
            {{ caller({'related_form_end': related_form, 'opts': opts}) }}
        {% endif -%}
        </table>
    </div>
</card-body>
